<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sedutrack backend</title>
</head>
<body>
    <h1>Sedutrack</h1>
    <table id="dataTable" border="1">
        <thead>
            <tr>
                <th class="title">Tabela API's SeduTrack</th>
            </tr>
            <th class="title"> <button onclick="getDiretorias()">Obter Diretorias</button>
                <button onclick="getEntregas()">Obter Entregas</button>
                <button onclick="getAvaliacoes()">Obter Avaliações</button>
                <button onclick="getTransportadoras()">Obter Transportadoras</button>
            </th>
        </thead>
        <tbody id="dataBody"></tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</body>
</html>